@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  --primary-white: white;
  --primary-purple: purple;
  --primary-darkgrey: rgb(100, 98, 98);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/***Navbar***/
.navbar{
  background: black;
}
.logo{
  width: 5.5rem;
  border-radius: 50%;
}
.navbar-nav{
  margin-left: auto;
}

/***Navlinks***/
nav a.nav-links{
  font-weight: 900;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
  font-size: 1.05rem;
}
.navbar-nav li a{
  color: var(--primary-white);
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-darkgrey);
}
.navbar-brand{
  max-width: 17.65rem;
  padding: 0 !important;
  height: 6rem;
}
.navbar-nav >li >a.active, .navbar-nav >li > a:focus{
  border-bottom: 0.1875rem solid var(--primary-purple);
  color: purple;
}
.navbar-nav li a:hover{
  color: purple;
}

/***Header***/
.headerwrap{
  position: relative;
  background: url(BG2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.maininfo{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  
}
.maininfo h1{
  color: var(--primary-white);
  text-transform: uppercase;
}
@media(max-width: 768px){
  .headerwrap{
    height: 100vh;
    width: 100vw;
    
  }
}

/***typed-text***/
.typedtext{
  font-size: 2rem;
  color:var(--primary-purple);
}
.btn-mainoffer{
  border: 1px solid rgb(136, 78, 128);
  text-transform: uppercase;
  border-radius: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
  padding: 0.625rem 0.875rem 0.875rem 0.875rem;
  color:var(--primary-white);
  text-decoration: none;
}
.btn-mainoffer:hover{
  text-decoration: none;
  background: rgb(85, 20, 76);
  color: var(--primary-white);
  transition: 0.5s ease-in-out;
}

/***about***/
.about{
  position: relative;
  background: black;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.aboutinfo{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  color: var(--primary-white);
}
h1{
  font-size: 36px;
  font-weight: 600;
  color: var(--primary-white)
}
p{
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.col{
  flex-basis: 31%;
  background: black;
  border-radius: 15px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.col:hover{
  box-shadow: 20px 10px 20px 10px  rgb(245, 240, 240);
}

/***Services***/
.services{
  position: relative;
  background: black;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.serviceinfo{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.serviceinfo h1{
  color: var(--primary-purple);
  padding-bottom: 100px;
}
.servicecol{
  flex-basis: 32%;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background: white;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
}
.webdesign{
  width: 35%;
  border-radius: 50%;
}
.webdevelopment{
  border-radius: 50%;
  width: 20%;
}
.socialmediaads{
  border-radius: 50%;
  width: 25%;
}
.servicecol p{
  padding: 0;
  text-align: center;
}
.servicecol h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}
.servicecol:hover{
  background: rgb(241, 194, 241);
}
