@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


:root{
  --primary-white: white;
  --primary-purple: purple;
  --primary-darkgrey: rgb(100, 98, 98);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/***Navbar***/
.navbar{
  background: black;
}
.logo{
  width: 5.5rem;
  border-radius: 50%;
}
.navbar-nav{
  margin-left: auto;
}

/***Navlinks***/
nav a.nav-links{
  font-weight: 900;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
  font-size: 1.05rem;
}
.navbar-nav li a{
  color: var(--primary-white);
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-darkgrey);
}
.navbar-brand{
  max-width: 17.65rem;
  padding: 0 !important;
  height: 6rem;
}
.navbar-nav >li >a.active, .navbar-nav >li > a:focus{
  border-bottom: 0.1875rem solid var(--primary-purple);
  color: purple;
}
.navbar-nav li a:hover{
  color: purple;
}